/*
* the entrance of aside
* @date: 2014/4/21
* @author: biangang
*/
.side-nav {

  float: left;
  margin-bottom: -999em;
  padding-bottom: 999em;
  width: @sideWidth;
  background-color: #f2f7fa;
  border-right: 1px solid @globalBorderColor;

  .nav-container {
    padding-top: 20px;
  }
  .nav-block {
    padding: 0 10px;
    background: url("@{img}nav-block-bg.png") top repeat-x;
    border-top: 1px solid @globalBorderColor;
    h2 {
      padding-left: 17px;
      background: url("@{img}arrow-down.png") 3px 6px no-repeat;
      font-size: 14px;
    }
  }

  .nav-items {
    @height: 22px;
    li {
      margin-left: 17px;
      margin-bottom: 8px;
      width: 100px;
      height: @height;
      line-height: @height;
      a {
        display: block;
        padding-left: 13px;
        color: @fontColor;
      }
      &.cur {
        a {
          background-color: @currentColor;
          color: #fff;
        }
      }
    }
  }
}