/*
* variables
* @date: 2014/4/21
* @author: biangang
*/
@pageWidth: 100%;
@headHeight: 71px;
@sideWidth: 180px;
@btnHeight: 28px;
@smallBtnHeight: 23px;

@linkColor: #069;
@hoverColor: #f60;
@globalBorderColor: #c4d5df;
@currentColor: #4a8dd2;
@fontColor: #333;
@fieldBorder: #ddd;
@focusColor: #7dbde2;
@errorColor: #f00;
@dialogTitleColor: #334f67;
@hightLight: #ed6733;
@greyBorder: #ddd;

@img: "../img/";
@sprite: "../img/sprite.png";